/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/


/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url('../fonts/roboto-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v5-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-sans-pro-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('../fonts/source-sans-pro-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v11-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/source-sans-pro-v11-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
       url('../fonts/source-sans-pro-v11-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v11-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v11-latin-900.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

.content {

}

.header {
  position: relative;
  margin: 0;
  padding: 0;
}

.background-container {
  background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 50%,rgba(0,0,0, 1) 100%), url("../images/background2.jpg");
  background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 50%,rgba(0,0,0, 1) 100%), url("../images/background2.jpg");
  background-image:  -o-linear-gradient(rgba(0,0,0, 0) 50%,rgba(0,0,0, 1) 100%), url("../images/background2.jpg");
  background-image:  -ms-linear-gradient(rgba(0,0,0, 0) 50%,rgba(0,0,0, 1) 100%), url("../images/background2.jpg");
  background-image:  linear-gradient(rgba(0,0,0, 0) 50%,rgba(0,0,0, 1) 100%), url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.title-container {
  position: absolute;
  top: 35%;
  left: 35%;
}

.title-container .title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  color: white;
  font-size: 7vw;
  white-space: nowrap;
  overflow: hidden;
     text-shadow: 2px 2px #000000;
}

.title-container .subhed {
  color: white;
  font-family: "Source Sans Pro";
  font-size: 18px;
  max-width: 650px;
     text-shadow: 1px 1px #000000;

}

.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
}
.body #rankingline {
  background-color: black;
  position: relative;
  max-width: 100vw;

}

.on-top {
  z-index: 99;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  right: 0;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

.mousehover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.ranking-line-svg {
  display: block;
  margin: 0 auto;

}

.ranking-line {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.ranking-line-svg .intro-ranking-x-axis {

}

.ranking-line-svg .intro-ranking-axis line  {
   stroke: #888579;
}

.ranking-line-svg .intro-ranking-axis path  {
   stroke: #888579;
}

.ranking-line-svg .intro-ranking-axis text  {
   fill: #888579;
}

.ranking-line-svg .week-circle {
  fill: white;
  stroke: white;
}

.ranking-line-svg .swoopy-arrow {
  stroke: white;
  fill: none;
}

.rivalry-svg .swoopy-arrow {
  stroke: black;
  fill: none;
}

.slam .slam-text {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
  pointer-events: none;
}

.slam-circle {
  cursor: pointer;
}

.slamwin .trophy {
   pointer-events: none;
}

.ranking-annotation text {
  fill: white;
  font-family: "Roboto";
  font-size: 12px;
}

.rivalry-annotation text {
   font-family: "Roboto";
  font-size: 12px;

}

.slam-tooltip {
    position: absolute;


    font-family: 'Roboto';
    font-size: 12px;
    z-index: 1000000000;
    text-align: left;
    width: 310px;
    pointer-events: none;
    border: 1px solid rgba(193, 193, 193, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    padding: 0.75em;
    height: auto;


}

.slam-tooltip .tooltip-header {

    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;

}

.slam-tooltip .player-row {
   display: block;
  border-right: 1px;
  border-color: inherit;
  padding: 2px;
  position: relative;
  height: 22px;
  display: flex;
  align-items: center;
}

.slam-tooltip .player-row:first-child {
   border-top: 0px;
}

.slam-tooltip .bracket div {
  padding: 0;
}

.slam-tooltip .player-row div {
   height: 100%;
   display: flex;
   align-items: center;

}

.slam-tooltip .player {
  width: 175px;
  margin-left: 5px;
  border-right: 1px;
  border-color: inherit;

  white-space: nowrap;

}

.slam-tooltip .player .player-name {
  margin-left: 5px;

}
.slam-tooltip .flag-container {
  width: 30px;
  height: 12px;
  line-height: 12px;
  vertical-align: middle;

}

.slam-tooltip .flag {
  text-align: center;
  height: 12px;
  margin: 0 auto;
  width: 20px;



}
.slam-tooltip .score {
  font-family: "Roboto";
  width: 30px;
  text-align: center;
  display: block;
   border-right: 1px solid white;
     display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

}

.slam-tooltip .seed {
  width: 25px;
  text-align: center;
   border-right: 1px solid white;
     display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

}

.is_fixed .slam-tooltip {
  position: fixed !important;
  top: 75%;

}

.is_fixed {
  position: fixed !important;
  top: 0;

}



.is_unfixed {
  position: absolute !important;

}

.is_bottom {
  position: absolute;
  top: auto;
  bottom: 0;
}

.sections {
  z-index: 2;
}



.sections .step:first-child {
  padding-top: 200px;
}
.sections .step:last-child {
  padding-bottom: 200px;
}
.sections .step {
  position: relative;
  max-width: 450px;
  margin-bottom: 500px;
  padding: 1rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  pointer-events: none;


}

.prose {
  max-width: 450px;
  font-family: "Roboto Mono";
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 14px;
  line-height: 1.5em;
}

.prose.dark {
  background-color: rgba(255,255,255,0.5);
  font-size: 1vw;

}
.sections .smallerstep {
  position: relative;
  max-width: 450px;
  margin-bottom: 0px;
  padding: 1rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  pointer-events: none;


}

.sections .smallerstep:first-child {
  padding-top: 40%;
}

.viz {
  left: 0;
  right: 0;

}

.graphic {
  position: relative;
  display: block;
  overflow: hidden;
}

#map-background-img {
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.serve-animation {
  position: relative;
}
.serve-image-container {


  /*background-image: url('../images/serves/1.png');*/
}

.serve-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;

}


#serve-graphic {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
.servesvg {
  display: block;
  margin: 0 auto;
}


.servesvg .arc {
  stroke: #d3d3d3;
  fill: none;
}

.arc-group-profile .player-name {
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.chart-title {
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: 700;

}

.chart-subtitle {
  font-family: "Roboto";
  font-size: 14px;

}

.arc-group-profile .serve-type {
  font-family: "Roboto";
  fill: #a1a1a1;
  font-size: 12px;
}

.speed-annotation .serve-speed {
  font-family: "Roboto Mono";
  font-size: 12px;
}

.profile .player-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 17px;
}

.profile .numwins {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 900;

}

.rivalry-svg .middle-line {
  fill: none;
  stroke: #d3d3d3;
}

.year-ticks text {
  font-family: "Roboto";
  fill: #b2b2b2;
  font-size: 10px;

}
h2 {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.serve-animation {
  display: block;
}

.rivalry-svg {
  display: block;
  margin: 0 auto;
}

.rivalry-svg .match-g .match-circle:hover {
  stroke: black;
  cursor: pointer;
}

.rivalry-svg .match-g .slam-outline {
  pointer-events: none;
}

.rivalry-container {
  position: relative;
}

.servebreak-svg {
  display: block;
  margin: 0 auto;
}

.overlay {
  cursor: pointer;
}
.servebreak-container {
  position: relative;
}

.servebreak-container .highestanno {
  font-family: "Roboto";
  font-size: 14px;

}

.slider {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;

}
.slider .before {
   font-family: "Roboto";
  display: inline-block;
  content: "% break points saved";
  font-size: 12px;

}

.slider .after {
   font-family: "Roboto";
  display: inline-block;
  content: "% serve points won";
  font-size: 12px;
}

.servebreak-svg .title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 30px;
}

.servebreak-svg .item:hover {
  cursor: pointer;
}
#input-slider {
  display: inline-block;
  margin: 0 auto;
  width: 50%;
  max-width: 500px;
  margin-left: -50px;
  margin-right: -50px;
  margin-top: 30px;
  vertical-align: middle;
}

.g-axis .axis__label {
  font-family: "Roboto";
  font-size: 12px;
  fill: black;
}

.serve-tooltip {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  display: none;
  font-family: "Roboto";
  font-size: 10px;
}

.name {
  font-family: "Roboto";
  font-size: 12px;

}

.guide-line-x {
  fill: none;
  stroke: #808080;
  stroke-dasharray: 4, 4;
}

.guide-line-y {
  fill: none;
  stroke: #808080;
  stroke-dasharray: 4, 4;
}

.servedirection-container svg {
  display: block;
  margin: 0 auto;
  fill: blue;
}


.servedirection-container {
  background-color: #4CBB17;
}

.servedirection-container .title{
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 700;
  fill: white;
}


.servedirection-container .title2{
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: 700;
  fill: white;
}
/*.serve-rect {
  fill: black;
  opacity: 0.4;
  stroke: white;
}*/

.serve-circle {
  fill: black;
  opacity: 0.4;

}

.addeuce {
  font-family: "Roboto";
  font-size: 24px;
  fill: white;
  font-weight: 600;
}

.directionlabel {
  font-size: 10px;
  font-family: "Roboto";
  fill: white;

}
.serve-rect-anno {
  font-family: "Roboto";
  fill: white;
  font-size: 10px;
  font-weight: 300;
}

.serve-anno-line {
  stroke: white;
  fill: black;
}

.court-line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.finder {

  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  position: relative;
}

#myinput {
  font-family: 'Roboto';
   display: block;
  margin: auto;
  width: 234px;
  padding: 8px;
  font-size: 14px;
  outline: 0;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.player-line {
  fill: none;


}


.city--hover {
  stroke-width: 4px;
}

.voronoi {
  fill: none;
  /*stroke: #d3d3d3;*/
  pointer-events: all;

}

.voronoi:hover {
  cursor: pointer;
}
.goatcontainer {
  display: block;
  margin: 0 auto;
}

#viz5 {


}
.no1svg {
  display: block;
  margin: 0 auto;

}

.name-anno-g {
  pointer-events: none;
}
.name-anno {
  font-family: "Roboto";
  font-size: 12px;
}

.name-anno-name{
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
}

.no1svg .axis__label {
  font-family: "Roboto";
  font-size: 14px;
}

.no1svg .tick text {
  font-family: "Roboto";

}

.no1svg .tick line {
}
.no1svg .x-axis .domain {
}

.voronoi--show path {
  stroke: red;
  stroke-opacity: 0.2;
}


.pressuresvg {
  display: block;
  margin: auto;
}

.pressuresvg .y-axis .tick text {
  font-family: "Roboto";
  font-size: 12px;
}

.pressuresvg .stacked-bar-text {
  font-family: "Roboto";
  font-size: 12px;
  fill: white;

}
.pressuresvg .percent-anno {
  font-family: "Roboto";
  font-size: 12px;
}

h3 {
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: 600;
}
.credits p {
  font-family: "Source Sans Pro";
  font-size: 14px;
  max-width: 450px;
  display: block;
  margin: auto;
  line-height: 1.5em;
    padding: 1em;
}

.credits {
  margin-bottom: 50px;
}
@media only screen and (max-width: 1107px) {
  .title-container {
    top: 70%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

  }

  .title-container .title {
    /*font-size: 70px;*/
    font-size: 11vw;
  }

  .title-container .subhed {
  }
}
@media only screen and (max-width: 1000px) {
  #sections1 {
    position: relative;

  }

  .prose {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .title-container .title {
    /*font-size: 55px;*/
  }
  .title-container .subhed {
    font-size: 15px;
  }
  h2 {
    font-size: 40px;
  }


}
